{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! Provide links to the id anchor points of each post on the page }}
<section class="post-links">
  <a class="post-link scroll-link" href="#">Top</a>
  {{#foreach posts}}
    <a class="post-link scroll-link" href="#{{@index}}">{{{title}}}</a>
  {{/foreach}}
</section>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}" id="{{@index}}">{{{title}}}</a></h2>
        <section class="post-meta" style="margin-bottom: 10px">
          {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
          {{author}}
          {{tags prefix=" on "}}
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </section>
    </header>

    <section class="post-content">
      {{content}}
    </section>

    <footer class="post-meta">
    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
